/** Blog Card **/

/* Article */
article {
	background-color: var(--accent-two-color);
	border: none;
	outline: none;
	width: 100%;
	max-width: 23.4375rem;
	padding: 1.5rem;
	border-radius: 1rem;
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

/* Picture */
picture {
	border-radius: 0.5rem;
	position: relative;
	display: grid;
	place-items: center;
	overflow: hidden;
	transition: background-color 0.5s ease-in-out;
}

picture img {
	cursor: pointer;
	transition: opacity 0.5s ease-in-out;
}

picture img:first-child {
	position: absolute;
	opacity: 0;
	z-index: 2;
}

picture img:last-child {
	width: 100%;
}

picture:hover {
	background-color: var(--secondary-color);
}

picture:hover img:first-child {
	opacity: 1;
}

picture:hover img:last-child {
	opacity: 0.5;
}

/* Section */
section {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

/* Heading */
h3 {
	font-size: 1.5rem;
	font-weight: var(--font-weight-semibold);
    color: var(--white-color);
	transition: color 0.5s ease-in-out;
	cursor: pointer;
}

h3:hover {
	color: var(--secondary-color);
}

/* Paragraph */
p {
	color: var(--primary-color);
    font-weight: var(--font-weight-thin);
}

/* Unordered List */
ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
	flex-wrap: wrap;
    gap: .5rem;
}

/* List Item */
li {
    display: flex;
    align-items: center;
    gap: .5rem;
	flex-wrap: wrap;
    font-weight: var(--font-weight-semibold);
}

li:first-child {
    color: var(--secondary-color);
}

li:last-child {
    color: var(--primary-color);
}

/* Horizontal Rule */
hr {
    height: .0625rem;
    border: none;
    background-color: var(--accent-three-color);
}

/* Address */
address {
	color: var(--primary-color);
	font-style: normal;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

/* Avatar Image */
address img {
	max-width: 2rem;
	margin-right: 0.75rem;
    border: solid .125rem var(--white-color);
    border-radius: 3.125rem;
}

/* Author Name */
address span {
    color: var(--white-color);
    margin-left: 0.25rem;
}