/** Fonts **/

/* Outfit Variable Font */
@font-face {
	font-family: "Outfit";
	src: url("/assets/fonts/outfit/Outfit-VariableFont_weight.ttf") format("truetype");
	font-weight: 300, 400, 600;
	font-style: normal;
}