/** Reset **/

/* Wildcard Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

/* HTML Reset */
html {
	font-family: var(--font-family-outfit);
	font-size: var(--font-size);
	line-height: 150%;
}

/* Body Reset */
body {
	background-color: var(--accent-one-color);
}

/* Main Reset */
main {
	min-height: 100vh;
	display: grid;
	place-items: center;
	padding: 1.5rem;
}